div {
    width: 100px;
    height: 100px;
    transition: all 5s ease-out 0.3s;
}

.marked {
    width: 300px;
}

#div2 {
    width: 150px;
    height: 75px;
    background-color: green;
    animation: moved 5s;
}

.loading {
    width: 150px;
    height: 20px;
    border: 1px solid;
}

.loading-bar {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    margin: auto;
    box-sizing: content-box;
}

.loading-bar-element {
    width:0px;
    height:20px;
    background-color: deepskyblue;
    animation:loading 1s ease-out infinite;
}
@keyframes loading{
    0%{
        width:0px;
      
        
    }
    100%{
        width:100%;
    }
}
@keyframes moved {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateX(300px) scale(1.2);
    }
    75% {
        transform: translateX(400px) scale(1);
        opacity: 0.3;
    }
    100% {
        opacity: 0.1;
    }
}